linkedTemplates/ArmTemplate_0.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "DE-df-azureproject"
        },
        "AzureDataLakeStorage1_linkservice_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1_linkservice'"
        },
        "AzureSqlDatabase1_linkservice_password": {
            "type": "secureString",
            "metadata": "Secure string for 'password' of 'AzureSqlDatabase1_linkservice'"
        },
        "AzureDataLakeStorage1_linkservice_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://0storageaccount.dfs.core.windows.net/"
        },
        "AzureSqlDatabase1_linkservice_properties_typeProperties_server": {
            "type": "string",
            "defaultValue": "de-sqlserver-azureproject.database.windows.net"
        },
        "AzureSqlDatabase1_linkservice_properties_typeProperties_database": {
            "type": "string",
            "defaultValue": "de-sqldb-azureproject"
        },
        "AzureSqlDatabase1_linkservice_properties_typeProperties_userName": {
            "type": "string",
            "defaultValue": "abhi-admin"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1_linkservice')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('AzureDataLakeStorage1_linkservice_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('AzureDataLakeStorage1_linkservice_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1_linkservice')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureSqlDatabase",
                "typeProperties": {
                    "server": "[parameters('AzureSqlDatabase1_linkservice_properties_typeProperties_server')]",
                    "database": "[parameters('AzureSqlDatabase1_linkservice_properties_typeProperties_database')]",
                    "encrypt": "mandatory",
                    "trustServerCertificate": false,
                    "authenticationType": "SQL",
                    "userName": "[parameters('AzureSqlDatabase1_linkservice_properties_typeProperties_userName')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('AzureSqlDatabase1_linkservice_password')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/integrationRuntime1new')]",
            "type": "Microsoft.DataFactory/factories/integrationRuntimes",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "Managed",
                "typeProperties": {
                    "computeProperties": {
                        "location": "AutoResolve",
                        "dataFlowProperties": {
                            "computeType": "General",
                            "coreCount": 8,
                            "timeToLive": 10,
                            "cleanup": false,
                            "customProperties": []
                        }
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/Json1_dynamic')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureDataLakeStorage1_linkservice",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "container": {
                        "type": "string"
                    },
                    "folder": {
                        "type": "string"
                    },
                    "file": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@dataset().file",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@dataset().folder",
                            "type": "Expression"
                        },
                        "fileSystem": {
                            "value": "@dataset().container",
                            "type": "Expression"
                        }
                    }
                },
                "schema": {}
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1_linkservice')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Parquet_dynamic')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureDataLakeStorage1_linkservice",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "container": {
                        "type": "string"
                    },
                    "folder": {
                        "type": "string"
                    },
                    "file": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Parquet",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@dataset().file",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@dataset().folder",
                            "type": "Expression"
                        },
                        "fileSystem": {
                            "value": "@dataset().container",
                            "type": "Expression"
                        }
                    },
                    "compressionCodec": "snappy"
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1_linkservice')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/azuresql')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabase1_linkservice",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [],
                "typeProperties": {}
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1_linkservice')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/incremental_ingestion')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "last_cdc",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "JsonSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "JsonReadSettings"
                                }
                            },
                            "dataset": {
                                "referenceName": "Json1_dynamic",
                                "type": "DatasetReference",
                                "parameters": {
                                    "container": "bronze",
                                    "folder": {
                                        "value": "@{pipeline().parameters.table}_cdc",
                                        "type": "Expression"
                                    },
                                    "file": "cdc.json"
                                }
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "current",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "policy": {
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "current",
                            "value": {
                                "value": "@utcNow()",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "If_incremental_data",
                        "type": "IfCondition",
                        "dependsOn": [
                            {
                                "activity": "azure_sql_to_lake",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@greater(activity('azure_sql_to_lake').output.dataRead, 0)",
                                "type": "Expression"
                            },
                            "ifFalseActivities": [
                                {
                                    "name": "delete_empy_file",
                                    "type": "Delete",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "dataset": {
                                            "referenceName": "Parquet_dynamic",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "container": "bronze",
                                                "folder": {
                                                    "value": "@pipeline().parameters.table",
                                                    "type": "Expression"
                                                },
                                                "file": {
                                                    "value": "@concat(pipeline().parameters.table, '_', variables('current'))",
                                                    "type": "Expression"
                                                }
                                            }
                                        },
                                        "enableLogging": false,
                                        "storeSettings": {
                                            "type": "AzureBlobFSReadSettings",
                                            "recursive": true,
                                            "enablePartitionDiscovery": false
                                        }
                                    }
                                }
                            ],
                            "ifTrueActivities": [
                                {
                                    "name": "max_cdc",
                                    "type": "Script",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "linkedServiceName": {
                                        "referenceName": "AzureSqlDatabase1_linkservice",
                                        "type": "LinkedServiceReference"
                                    },
                                    "typeProperties": {
                                        "scripts": [
                                            {
                                                "type": "Query",
                                                "text": {
                                                    "value": "SELECT MAX(@{pipeline().parameters.cdc_col}) as cdc FROM @{pipeline().parameters.schema}.@{pipeline().parameters.table}",
                                                    "type": "Expression"
                                                }
                                            }
                                        ],
                                        "scriptBlockExecutionTimeout": "02:00:00"
                                    }
                                },
                                {
                                    "name": "update_last_cdc",
                                    "type": "Copy",
                                    "dependsOn": [
                                        {
                                            "activity": "max_cdc",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "JsonSource",
                                            "additionalColumns": [
                                                {
                                                    "name": "cdc",
                                                    "value": {
                                                        "value": "@activity('max_cdc').output.resultSets[0].rows[0].cdc",
                                                        "type": "Expression"
                                                    }
                                                }
                                            ],
                                            "storeSettings": {
                                                "type": "AzureBlobFSReadSettings",
                                                "recursive": true,
                                                "enablePartitionDiscovery": false
                                            },
                                            "formatSettings": {
                                                "type": "JsonReadSettings"
                                            }
                                        },
                                        "sink": {
                                            "type": "JsonSink",
                                            "storeSettings": {
                                                "type": "AzureBlobFSWriteSettings"
                                            },
                                            "formatSettings": {
                                                "type": "JsonWriteSettings"
                                            }
                                        },
                                        "enableStaging": false
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "Json1_dynamic",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "container": "bronze",
                                                "folder": "cdc",
                                                "file": "empty.json"
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "Json1_dynamic",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "container": "bronze",
                                                "folder": {
                                                    "value": "@{pipeline().parameters.table}_cdc",
                                                    "type": "Expression"
                                                },
                                                "file": "cdc.json"
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "name": "azure_sql_to_lake",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "last_cdc",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "current",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "sqlReaderQuery": {
                                    "value": "SELECT * FROM @{pipeline().parameters.schema}.@{pipeline().parameters.table} AS cdc WHERE @{pipeline().parameters.cdc_col} > '@{ if(empty(pipeline().parameters.from_date),activity('last_cdc').output.value[0].cdc, pipeline().parameters.from_date)}'",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "azuresql",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Parquet_dynamic",
                                "type": "DatasetReference",
                                "parameters": {
                                    "container": "bronze",
                                    "folder": {
                                        "value": "@pipeline().parameters.table",
                                        "type": "Expression"
                                    },
                                    "file": {
                                        "value": "@concat(pipeline().parameters.table,'_', variables('current'))",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "schema": {
                        "type": "string"
                    },
                    "table": {
                        "type": "string"
                    },
                    "cdc_col": {
                        "type": "string"
                    },
                    "from_date": {
                        "type": "string"
                    }
                },
                "variables": {
                    "current": {
                        "type": "String"
                    }
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/Json1_dynamic')]",
                "[concat(variables('factoryId'), '/datasets/azuresql')]",
                "[concat(variables('factoryId'), '/datasets/Parquet_dynamic')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1_linkservice')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/loop_incremental_ingestion_')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "ForEach1",
                        "type": "ForEach",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@pipeline().parameters.loop_input",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "last_cdc",
                                    "type": "Lookup",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "JsonSource",
                                            "storeSettings": {
                                                "type": "AzureBlobFSReadSettings",
                                                "recursive": true,
                                                "enablePartitionDiscovery": false
                                            },
                                            "formatSettings": {
                                                "type": "JsonReadSettings"
                                            }
                                        },
                                        "dataset": {
                                            "referenceName": "Json1_dynamic",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "container": "bronze",
                                                "folder": {
                                                    "value": "@{item().table}_cdc",
                                                    "type": "Expression"
                                                },
                                                "file": "cdc.json"
                                            }
                                        },
                                        "firstRowOnly": false
                                    }
                                },
                                {
                                    "name": "current",
                                    "type": "SetVariable",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "variableName": "current",
                                        "value": {
                                            "value": "@utcNow()",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                {
                                    "name": "If_incremental_data",
                                    "type": "IfCondition",
                                    "dependsOn": [
                                        {
                                            "activity": "azure_sql_to_lake",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@greater(activity('azure_sql_to_lake').output.dataRead, 0)",
                                            "type": "Expression"
                                        },
                                        "ifFalseActivities": [
                                            {
                                                "name": "delete_empy_file",
                                                "type": "Delete",
                                                "dependsOn": [],
                                                "policy": {
                                                    "timeout": "0.12:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "dataset": {
                                                        "referenceName": "Parquet_dynamic",
                                                        "type": "DatasetReference",
                                                        "parameters": {
                                                            "container": "bronze",
                                                            "folder": {
                                                                "value": "@item().table",
                                                                "type": "Expression"
                                                            },
                                                            "file": {
                                                                "value": "@concat(item().table, '_', variables('current'))",
                                                                "type": "Expression"
                                                            }
                                                        }
                                                    },
                                                    "enableLogging": false,
                                                    "storeSettings": {
                                                        "type": "AzureBlobFSReadSettings",
                                                        "recursive": true,
                                                        "enablePartitionDiscovery": false
                                                    }
                                                }
                                            }
                                        ],
                                        "ifTrueActivities": [
                                            {
                                                "name": "max_cdc",
                                                "type": "Script",
                                                "dependsOn": [],
                                                "policy": {
                                                    "timeout": "0.12:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "linkedServiceName": {
                                                    "referenceName": "AzureSqlDatabase1_linkservice",
                                                    "type": "LinkedServiceReference"
                                                },
                                                "typeProperties": {
                                                    "scripts": [
                                                        {
                                                            "type": "Query",
                                                            "text": {
                                                                "value": "SELECT MAX(@{item().cdc_col}) as cdc FROM @{item().schema}.@{item().table}",
                                                                "type": "Expression"
                                                            }
                                                        }
                                                    ],
                                                    "scriptBlockExecutionTimeout": "02:00:00"
                                                }
                                            },
                                            {
                                                "name": "update_last_cdc",
                                                "type": "Copy",
                                                "dependsOn": [
                                                    {
                                                        "activity": "max_cdc",
                                                        "dependencyConditions": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                ],
                                                "policy": {
                                                    "timeout": "0.12:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "source": {
                                                        "type": "JsonSource",
                                                        "additionalColumns": [
                                                            {
                                                                "name": "cdc",
                                                                "value": {
                                                                    "value": "@activity('max_cdc').output.resultSets[0].rows[0].cdc",
                                                                    "type": "Expression"
                                                                }
                                                            }
                                                        ],
                                                        "storeSettings": {
                                                            "type": "AzureBlobFSReadSettings",
                                                            "recursive": true,
                                                            "enablePartitionDiscovery": false
                                                        },
                                                        "formatSettings": {
                                                            "type": "JsonReadSettings"
                                                        }
                                                    },
                                                    "sink": {
                                                        "type": "JsonSink",
                                                        "storeSettings": {
                                                            "type": "AzureBlobFSWriteSettings"
                                                        },
                                                        "formatSettings": {
                                                            "type": "JsonWriteSettings"
                                                        }
                                                    },
                                                    "enableStaging": false
                                                },
                                                "inputs": [
                                                    {
                                                        "referenceName": "Json1_dynamic",
                                                        "type": "DatasetReference",
                                                        "parameters": {
                                                            "container": "bronze",
                                                            "folder": {
                                                                "value": "@{item().table}_cdc",
                                                                "type": "Expression"
                                                            },
                                                            "file": "empty.json"
                                                        }
                                                    }
                                                ],
                                                "outputs": [
                                                    {
                                                        "referenceName": "Json1_dynamic",
                                                        "type": "DatasetReference",
                                                        "parameters": {
                                                            "container": "bronze",
                                                            "folder": {
                                                                "value": "@{item().table}_cdc",
                                                                "type": "Expression"
                                                            },
                                                            "file": "cdc.json"
                                                        }
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                },
                                {
                                    "name": "azure_sql_to_lake",
                                    "type": "Copy",
                                    "dependsOn": [
                                        {
                                            "activity": "last_cdc",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        },
                                        {
                                            "activity": "current",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "AzureSqlSource",
                                            "sqlReaderQuery": {
                                                "value": "SELECT * FROM @{item().schema}.@{item().table} AS cdc WHERE @{item().cdc_col} > '@{ if(empty(item().from_date),activity('last_cdc').output.value[0].cdc, item().from_date)}'",
                                                "type": "Expression"
                                            },
                                            "queryTimeout": "02:00:00",
                                            "partitionOption": "None"
                                        },
                                        "sink": {
                                            "type": "ParquetSink",
                                            "storeSettings": {
                                                "type": "AzureBlobFSWriteSettings"
                                            },
                                            "formatSettings": {
                                                "type": "ParquetWriteSettings"
                                            }
                                        },
                                        "enableStaging": false,
                                        "translator": {
                                            "type": "TabularTranslator",
                                            "typeConversion": true,
                                            "typeConversionSettings": {
                                                "allowDataTruncation": true,
                                                "treatBooleanAsNumber": false
                                            }
                                        }
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "azuresql",
                                            "type": "DatasetReference",
                                            "parameters": {}
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "Parquet_dynamic",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "container": "bronze",
                                                "folder": {
                                                    "value": "@item().table",
                                                    "type": "Expression"
                                                },
                                                "file": {
                                                    "value": "@concat(item().table,'_', variables('current'))",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "name": "Alert",
                        "type": "WebActivity",
                        "dependsOn": [
                            {
                                "activity": "ForEach1",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "method": "POST",
                            "headers": {},
                            "url": "https://prod-21.northcentralus.logic.azure.com:443/workflows/44933e494b754ffb8fe4fe0fb10cfb44/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=WcAjPj8yQiAnc8ZcL1b4v5fPBeSvNi3NGhiglPeLqo0",
                            "body": {
                                "value": "{\n    \"pipeline_name\": \"@{pipeline().Pipeline}\",\n    \"Pipeline_id\": \"@{pipeline().RunId}\"\n}",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "loop_input": {
                        "type": "array",
                        "defaultValue": [
                            {
                                "schema": "dbo",
                                "table": "DimUser",
                                "cdc_col": "updated_at",
                                "from_date": ""
                            },
                            {
                                "schema": "dbo",
                                "table": "DimTrack",
                                "cdc_col": "updated_at",
                                "from_date": ""
                            },
                            {
                                "schema": "dbo",
                                "table": "DimDate",
                                "cdc_col": "date",
                                "from_date": ""
                            },
                            {
                                "schema": "dbo",
                                "table": "DimArtist",
                                "cdc_col": "updated_at",
                                "from_date": ""
                            },
                            {
                                "schema": "dbo",
                                "table": "FactStream",
                                "cdc_col": "stream_timestamp",
                                "from_date": ""
                            }
                        ]
                    }
                },
                "variables": {
                    "current": {
                        "type": "String"
                    }
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/Json1_dynamic')]",
                "[concat(variables('factoryId'), '/datasets/azuresql')]",
                "[concat(variables('factoryId'), '/datasets/Parquet_dynamic')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1_linkservice')]"
            ]
        }
    ]
}